.sticky {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.gradient-text {
  background: linear-gradient(to left, #3494e6, #ec6ead);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-top {
  grid-area: top;
  width: var(--home-grid-width);
}

.grid-bottom {
  grid-area: bottom;
  width: var(--home-grid-width);
}

.grid-top-left {
  grid-area: top-left;
  width: var(--home-grid-width);
}

.grid-top-right {
  grid-area: top-right;
  width: var(--home-grid-width);
}

.grid-bottom-left {
  grid-area: bottom-left;
  width: var(--home-grid-width);
}

.grid-bottom-right {
  grid-area: bottom-right;
  width: var(--home-grid-width);
}

.grid-offset-vertical {
  margin-top: var(--home-grid-offset);
}

.bytedance-logo {
  color: #3c8cff;
}

.home-shader-container::before {
  content: "";
  width: 100%;
  height: 170px;
  top: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(
    180deg,
    #101010,
    rgba(16, 16, 16, 0.7) 31%,
    transparent
  );
  z-index: 5;
}
