.gradient-text {
  background-image: linear-gradient(45deg, #fc4a1a 0%, #f7b733 100%);
  background-position: "100px 100px";
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.single-ipad-container {
  max-width: 1080px;
  padding: 0 var(--container-padding);
}

.small-title-container {
  width: var(--landscape-device-width);
  max-width: var(--landscape-max-device-width);
}
