.sticky {
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  z-index: 0;
}

.tools-inner-text-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.developer-img {
  width: 128px;
  height: 128px;
}

.tools-sticky {
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  margin: 0 auto;
  width: 100%;
  position: absolute;
}
