@import "./scss/color.scss", "./scss/font.scss", "./scss/ipad.scss",
  "./scss/general.scss", "./scss/mediascreen.scss";

:root {
  --landscape-device-width: 90vw;
  --landscape-max-device-width: 936px;
  --portrait-device-width: 68.8vw;
  --portrait-max-device-width: 720px;
  --container-padding: 30px;
  --home-grid-width: 636px;
  --home-grid-offset: -148px;
}

body,
html {
  font-family: "SF Pro Display Semibold", "SFNA Display", "Helvetica",
    sans-serif;
  box-sizing: border-box;
  color: white;
  background-color: #101010;
  overflow-x: hidden;
}

//responsive add/remove animation
@include device(mobile tablet-portrait laptop-portrait desktop-portrait) {
  .phone-view {
    display: block !important;
  }

  .desktop-view {
    display: none !important;
  }
}

@include device(tablet-landscape laptop-landscape desktop-landscape) {
  .phone-view {
    display: none !important;
  }

  .desktop-view {
    display: block !important;
  }
}

@include min-screen(2400px) {
  .phone-view {
    display: block !important;
  }

  .desktop-view {
    display: none !important;
  }
}

//update ipads space
@include device(tablet laptop desktop) {
  .section-padding {
    padding-top: 170px;
    padding-bottom: 170px;
  }

  .dual-ipads {
    margin: 80px -15px;
    margin: 80px -25px;
  }

  .landscape-left .double-ipad-column:first-child {
    position: relative;
    padding-top: 40px;
  }

  .landscape-left .double-ipad-column:nth-child(2) {
    display: block;
    height: 0;
  }

  .c-double-ipad {
    display: flex;
    flex-wrap: wrap;
    margin: 40px -25px;
  }

  .double-ipad-column {
    width: 43%;
    padding: 0 25px;
    display: flex;
    position: relative;
  }
}

//ipad home grid screen changes
@include max-screen(1200px) {
  :root {
    --home-grid-width: 476px;
    --home-grid-offset: -130px;
  }

  .grid-container {
    grid-gap: 27px;
    margin-top: 9px;
  }
}

@include max-screen(1023px) {
  :root {
    --home-grid-width: 194px;
    --home-grid-offset: -54px;
  }

  .grid-container {
    grid-gap: 17px;
    margin-top: 58px;
  }
}

//change font size and style for the title
@include device(tablet) {
  .title-headline {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -0.005em;
    margin-bottom: 21px;
  }

  .content-headline {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 500;
    letter-spacing: 0.011em;
    margin-bottom: 62px;
  }

  .home-title {
    font-size: 64px;
    line-height: 1.0625;
    font-weight: 600;
    letter-spacing: -0.009em;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .home-subtitle {
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 600;
    letter-spacing: 0.009em;
  }

  .tool-title {
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -0.003em;
  }
}

@include device(mobile) {
  .title-headline {
    font-size: 44px;
    line-height: 1.090911;
    font-weight: 600;
    letter-spacing: -0.001em;
    margin-bottom: 21px;
  }

  .content-headline {
    font-size: 21px;
    line-height: 1.381;
    font-weight: 500;
    letter-spacing: 0.011em;
    margin-bottom: 42px;
  }

  .home-title {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
    margin-bottom: 36px;
    margin-top: 20px;
  }

  .home-subtitle {
    font-size: 21px;
    line-height: 1.19048;
    font-weight: 600;
    letter-spacing: 0.011em;
  }

  .tool-title {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: 0em;
  }
}
