$gray-color: #989898;
$subsub-text-color: #4c4c4c;
$orange-color: #fa5400;
$dark-red-color: #da1852;

//color
.subtext-color {
  color: $gray-color;
}

.subsubtext-color {
  color: $subsub-text-color;
}

.bg-main {
  background-color: #101010;
}

.text-orange {
  color: $orange-color;
}

.text-dark-red {
  color: $dark-red-color;
}
