/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/
@font-face {
  font-family: "NeueHelveticaW01-79CmBold";
  src: url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.woff2")
      format("woff2"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.woff")
      format("woff"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("https://db.onlinewebfonts.com/t/9e860986b7adde47ca5d9cc67c9d3d73.svg#NeueHelveticaW01-79CmBold")
      format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "GT America Condensed Bold";
  src: url("https://db.onlinewebfonts.com/t/39f5d3dd6bbf647ef83df8420dd0a1d2.eot"); /* IE9*/
  src: url("https://db.onlinewebfonts.com/t/39f5d3dd6bbf647ef83df8420dd0a1d2.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("https://db.onlinewebfonts.com/t/39f5d3dd6bbf647ef83df8420dd0a1d2.woff2")
      format("woff2"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/39f5d3dd6bbf647ef83df8420dd0a1d2.woff")
      format("woff"),
    /* chrome firefox */
      url("https://db.onlinewebfonts.com/t/39f5d3dd6bbf647ef83df8420dd0a1d2.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("https://db.onlinewebfonts.com/t/39f5d3dd6bbf647ef83df8420dd0a1d2.svg#GT America Condensed Bold")
      format("svg"); /* iOS 4.1- */
}

@font-face {
  font-family: "SFNS Display";
  src: url("https://db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.eot");
  src: url("https://db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/9e14b4e72dec1db9a60d2636bbfe64f2.svg#SFNS Display")
      format("svg");
}

@font-face {
  font-family: "Vultura";
  src: url("https://uploads-ssl.webflow.com/59bb335ea1281d000187d5a2/5eec3ec8b9c2338c02c40454_Vultura-Regular.otf")
    format("opentype");
}

@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

@font-face {
  font-family: "SF Pro Display Medium";
  src: url("./font-file/SF-Pro-Display-Medium.otf") format("opentype");
}

@font-face {
  font-family: "SF Pro Display Semibold";
  src: url("./font-file/SF-Pro-Display-Semibold.otf") format("opentype");
}

.Neue-compressed-font {
  font-family: "NeueHelveticaW01-79CmBold", "SFNA Display", "Helvetica",
    sans-serif;
}

.GT-America-font {
  font-family: "GT America Condensed Bold", "SFNA Display", "Helvetica",
    sans-serif;
}

.SFNS-font {
  font-family: "SFNA Display", "Helvetica", sans-serif;
}

.Vultura-font {
  font-family: "Vultura";
}

.small-title-font {
  font-family: "Shadows Into Light", cursive;
}

.SF-Pro-Dispay-Medium {
  font-family: "SF Pro Display Medium";
}

.SF-Pro-Dispay-Semibold {
  font-family: "SF Pro Display Semibold";
}
