//line height section
.line-height-1 {
  line-height: 1;
}

.line-height-2 {
  line-height: 1.2;
}

.line-height-3 {
  line-height: 1.4;
}

.line-height-4 {
  line-height: 1.6;
}

.line-height-5 {
  line-height: 1.8;
}

.line-height-6 {
  line-height: 2;
}

//font-weight
.bold-1 {
  font-weight: 300;
}

.bold-2 {
  font-weight: 400;
}

.bold-3 {
  font-weight: 500;
}

.bold-4 {
  font-weight: 600;
}

.bold-5 {
  font-weight: 700;
}

.bold-6 {
  font-weight: 800;
}

.bold-7 {
  font-weight: 900;
}

//opacity
.opacity-0 {
  visibility: hidden;
}

.opacity-1 {
  visibility: visible;
}

//animation
.animation-visible {
  visibility: visible;
  overflow-y: auto;
  overflow-x: hidden;
}

.animation-hidden {
  visibility: hidden;
  max-height: 100vh;
  overflow: hidden;
}

//screen
.desktop-view {
  display: block;
}

.phone-view {
  display: none;
}

//grid
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-gap: 48px;
  margin-top: -7rem;
  grid-template-areas:
    "top-left top top-right"
    "bottom-left bottom bottom-right";
}

//z-index
.z-index-0 {
  z-index: 0;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

//Fix center issue in Firefox
.animation-block-center {
  .scrollmagic-pin-spacer {
    margin: 0 auto !important;
  }
}

//center
.block-center {
  margin: 0 auto;
}

//title and content
.title-headline {
  font-size: 64px;
  line-height: 1.0625;
  font-weight: 600;
  letter-spacing: -0.009em;
  color: white;
  margin-bottom: 21px;
  font-family: "SF Pro Display Semibold";
  text-align: center;
}

.content-headline {
  font-size: 24px;
  line-height: 1.33341;
  font-weight: 500;
  letter-spacing: 0.009em;
  margin-bottom: 90px;
  font-family: "SF Pro Display Medium";
  text-align: center;
}

//for home.js only
.home-title {
  font-size: 80px;
  line-height: 1.05;
  font-weight: 600;
  letter-spacing: -0.015em;
  color: white;
  font-family: "SF Pro Display Semibold";
  text-align: center;
  margin-bottom: 56px;
  margin-top: 30px;
}

.home-subtitle {
  font-size: 28px;
  line-height: 1.14286;
  font-weight: 600;
  letter-spacing: 0.007em;
  font-family: "SF Pro Display Semibold";
  color: #989898;
}

//font style for tool animation
.tool-title {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
}

//section-padding
.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

//display, to prevent !important
.display-flex {
  display: flexs;
}
