//ipad
.c-single-ipad .ipad {
  width: var(--landscape-device-width) !important;
  max-width: var(--landscape-max-device-width) !important;
}

.ipad {
  display: block;
  position: relative;
  width: var(--landscape-device-width);
  max-width: var(--landscape-max-device-width);
  flex-shrink: 0;
  z-index: 0;
}

.ipad::before {
  content: "";
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  background-image: url("../images/ipad-land-black.png");
  overflow: hidden !important;
}

.ipad::after {
  content: "";
  position: absolute;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 150%;
  height: 150%;
  top: -25%;
  left: -25%;
  z-index: 1;
  background-position: 50%;
  pointer-events: none;
  background-image: url("../images/ipad-shadow-land.png");
  overflow: hidden !important;
}

.ipad video,
.ipad img {
  display: block;
  overflow: hidden !important;
  position: relative;
  z-index: 2;
  height: auto;
  width: 93.468%;
  margin: 0 auto;
  padding: 3.284% 0 3.321%;
}

.image-overlay {
  overflow: hidden !important;
  position: relative;
  z-index: 2;
  height: auto;
  width: 93.468%;
  margin: 0 auto;
  padding: 3.284% 0 3.321%;
}

//double ipad

.c-double-ipad {
  display: flex;
  flex-wrap: wrap;
  margin: 40px -15px;
}

.double-ipad-column {
  width: 43%;
  padding: 0 15px;
  display: flex;
  position: relative;
}

.double-ipad-column:first-child {
  justify-content: flex-end;
}

.landscape-left .double-ipad-column:first-child {
  width: 57%;
  z-index: 4;
}

.ipad-vertical {
  width: var(--portrait-device-width) !important;
  max-width: var(--portrait-max-device-width) !important;
}

.ipad-vertical:before {
  background-image: url("../images/ipad-verticle-new.png");
}

.ipad-vertical:after {
  background-image: url("../images/ipad-shadow-vert.png");
}
